<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.TUsersMapper">
  <resultMap id="BaseResultMap" type="com.simple.domain.TUsers">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="homeUrl" jdbcType="VARCHAR" property="homeUrl" />
    <result column="screenName" jdbcType="VARCHAR" property="screenName" />
    <result column="created" jdbcType="INTEGER" property="created" />
    <result column="activated" jdbcType="INTEGER" property="activated" />
    <result column="logged" jdbcType="INTEGER" property="logged" />
    <result column="groupName" jdbcType="VARCHAR" property="groupName" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, username, password, email, homeUrl, screenName, created, activated, logged, 
    groupName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_users
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.simple.domain.TUsers">
    insert into t_users (uid, username, password, 
      email, homeUrl, screenName, 
      created, activated, logged, 
      groupName)
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{homeUrl,jdbcType=VARCHAR}, #{screenName,jdbcType=VARCHAR}, 
      #{created,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, #{logged,jdbcType=INTEGER}, 
      #{groupName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simple.domain.TUsers">
    insert into t_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="homeUrl != null">
        homeUrl,
      </if>
      <if test="screenName != null">
        screenName,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="logged != null">
        logged,
      </if>
      <if test="groupName != null">
        groupName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeUrl != null">
        #{homeUrl,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="logged != null">
        #{logged,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simple.domain.TUsers">
    update t_users
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="homeUrl != null">
        homeUrl = #{homeUrl,jdbcType=VARCHAR},
      </if>
      <if test="screenName != null">
        screenName = #{screenName,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="logged != null">
        logged = #{logged,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simple.domain.TUsers">
    update t_users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      homeUrl = #{homeUrl,jdbcType=VARCHAR},
      screenName = #{screenName,jdbcType=VARCHAR},
      created = #{created,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      logged = #{logged,jdbcType=INTEGER},
      groupName = #{groupName,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>